<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventured</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/jpg" href="{% static 'images/spr_favicon.png' %}"/>

    <!--ESTILOS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/utilities.css' %}" />

    <style>
      
        section {
            border-radius: 20px;
            margin-top: 60px;
            background: #dddcdc;
            color: #333;
        }

        form {
            width: 80%;
        }

        input {
            margin-top: 5px;
        }

        #btn {
            margin-bottom: 40px;
        }

    </style>

</head>
<body class="text-center">

    <section class="w-50 mx-auto " style="border: 2px solid #333;">

        <div class="row justify-content-center p-5">
            <div class="col-4 m-2">
                <img class="foother_logo" style="width: 400px;" src="{% static 'images/img_logo_02.png' %}">
            </div>
        </div>

        <h1 class="p-5" >Ya puedes regresar a la aplicacion</h1>
    
    </section>

    
    <script src="{% static 'js/script_index.js' %}"></script>
</body>
</html>